.pokemon__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.game__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
